body {
  background-color: slategray;
}
.App{
  background-color: #259641;
  min-height:500px;
  width: 400px;
  margin:40px auto;
  margin-bottom: 50px;
  border: 1px solid  black;
}

#to-do-form input{
  background-color: rgba(27, 112, 137, 1);
  border: 0; 
  color: #fff;
  width: 220px;
  height: 50px;
  margin: 35px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;  
}
  
#to-do-form input::placeholder{
  color: #c1bfc9;
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 45px;
  width: 65px;
  border-radius: 5px;
  border: 0;
  background-color: #c1bfc9; 
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  border: 10px black;

}
#to-do-form button:focus{
  outline: none;
}
#to-do-form button:hover{
  background-color: rgb(245, 121, 6)
}

.navbar {
  background-color: rgba(27, 112, 137, 1);
  font-size: 20px;
}

  
  .container {
    color: black;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid  black;
    background-color: #259641;
    margin:40px auto;
    margin-bottom: 50px;
    box-shadow: 10px rgba(27, 112, 137, 1);
  }
  .container input{
    background-color: rgba(27, 112, 137, 1);
  }
  .container input::placeholder {
  
    color: #c1bfc9;
    font-size: 18px;
    opacity: 0px;
    
    
  }
.container textarea::placeholder {
    color: #c1bfc9;
    font-size: 18px;
    opacity: 0px;
  }
  .container textarea {
    background-color: rgba(27, 112, 137, 1);
    margin-bottom: 5px;
  }
  .container .btn {
    
    color: black;
    background-color:#c1bfc9;
    margin-left: 95px;
    margin-bottom: 5px;
    font-weight: bold;
    
  }

  .container .btn:hover {
    
    background-color: rgb(245, 121, 6);
    
  }